[build]
  command = "pnpm run build"
  publish = ".next"

[[redirects]]
  from = "/axie-images/*"
  to = "https://axiecdn.axieinfinity.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/ingest/*"
  to = "https://us.i.posthog.com/:splat"
  status = 200
  force = true
